#header {
  position: fixed;
  top: 0.5rem;
  right: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(6px);

  max-width: 30rem;
  margin: 0 auto;
}

header nav {
  padding: 2rem;
  color: var(--base-gray-100);
  background-color: rgb(13, 14, 17, 0.4);
  border-radius: 40px;

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        background-color: var(--main-red);
        transition: width 0.4s;
      }

      &:hover {
        color: var(--main-red);

        &::after {
          width: 100%;
        }
      }
    }
  }
}