header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(4px);
}

#navbar {
  padding: 2rem;
  color: var(--base-gray-100);
  background-color: rgb(13, 14, 17, 0.4);
  ;

  ul {
    display: flex;
    gap: 1.5rem;

    a {
      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        background-color: var(--main-purple);
        transition: width 0.4s;
      }

      &:hover {
        color: var(--main-purple);

        &::after {
          width: 100%;
        }
      }
    }
  }
}