@media (max-width: 768px) {
  #header {
    top: 0;
  }

  #badge-group {
    flex-wrap: wrap;
  }

  .cards-group {
    flex-wrap: wrap;

    .card {
      min-width: 100%;
    }
  }

  #hero {
    h1 {
      font-size: 3rem;
    }
  }

  #welcome {
    font-size: 1.125rem;
  }
}