.text-sm {
  font: var(--heading-4);
}

.text-md {
  font: var(--heading-3);
}

.text-lg {
  font: var(--heading-2);
}

.text-xl {
  font: var(--heading-1);
}

.font-inconsolata {
  font-family: 'Inconsolata', sans-serif;
}

.font-maven {
  font-family: 'Maven Pro', sans-serif;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.text-gray-300 {
  color: var(--base-gray-300);
}

.text-gray-100 {
  color: var(--base-gray-100);
}

.text-red {
  color: var(--main-red);
}

.text-purple {
  color: var(--main-purple);
}

.text-yellow {
  color: var(--main-yellow);
}

.text-blue {
  color: var(--main-blue);
}

.leading-2 {
  line-height: 140%;
}